extends base

block contents 
    h1 이번달 #지니#의 칭찬 도장
    div.wrapper 
        div 스티커1 밥
        div 스티커2 공부
        div 스티커3 칭찬
        div 이번달 총 도장 개수
        div 지금까지 모은 도장 개수
        div 2 밥 개수
        div 3 공부 개수
        div 2 칭찬 개수
        div 7 이번달 총 도장 개수
        div 7 총 누적 개수


