//config
@import './config/_variables.scss';
@import './config/_reset.scss';

//fonts
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');

//components
@import './components/header.scss';
@import './components/footer.scss';
@import './components/form.scss';
@import './components/month-nav.scss';

//screens
@import './screens/home.scss';
@import './screens/board.scss';
@import './screens/setting.scss';
@import './screens/status.scss';

* {
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
  button {
    border: none;
  }
}

html {
  scroll-behavior: smooth;
  height: 100%; //*footer 바닥에 고정
}

body {
  height: 100%; //*footer 바닥에 고정
  margin: 0; //*footer 바닥에 고정
  background-color: #efeeee;
  font-family: 'Jua', sans-serif;
}

.wrapper {
  //*footer 바닥에 고정
  min-height: 100%;
  position: relative;
  padding-bottom: 80px; /* footer height */
}

main {
  //width: 100%;
  padding: 100px;
  //margin-bottom: 80px; //*footer 바닥에 고정, footer height
}

.unabled-btn {
  opacity: 0.5;
}

.status__month {
  padding: 0.5rem;
  background-color: $main;
  color: black;
  margin: 0.5rem 0.7rem;
  border-radius: 0.7rem;
  height: 4rem;
  width: 4rem;
  font-size: $regular_size;
}

.no-data__message {
  background-color: rgba(255, 0, 0, 0.5);
  padding: 1.2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  font-size: 23px;
  border: 1px rgba(255, 0, 0, 0.8) solid;
}

.student__table {
  font-size: 23px;
  margin: 0 0.5rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  //border: 1px solid $main;
  border-radius: 0.7rem;

  border-collapse: separate;
  border-spacing: 0.5rem 1.5rem;

  background-color: white;
  border: 1px solid rgba($color: #5f5e5e, $alpha: 0.2);

  th {
    width: 4rem;
  }

  td {
    text-align: center;
  }
}

@media (max-width: 40rem) {
  html {
    font-size: 17px;
  }

  main {
    //width: 100%;
    padding: 0;
    padding-top: 130px;
    //margin-bottom: 80px; //*footer 바닥에 고정, footer height
  }

  .no-data__message {
    padding: 1rem;
    margin: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    font-size: 20px;
  }

  .student__table {
    font-size: 18px;
    margin: 0 0.5rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
    //border: 1px solid $main;
    border-radius: 0.7rem;

    border-collapse: separate;
    border-spacing: 0.7rem;

    // th {

    // }

    td {
      font-size: 18px;
    }
  }
}
