//config
@import "./config/_variables.scss";
@import "./config/_reset.scss";

//fonts
@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap");

//components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/form.scss";
@import "./components/month-nav.scss";

//screens
@import "./screens/home.scss";
@import "./screens/board.scss";
@import "./screens/setting.scss";
@import "./screens/status.scss";

* {
  box-sizing: border-box;
  //   -webkit-box-sizing: border-box;
  //   -moz-box-sizing: border-box;
  a {
    text-decoration: none;
  }
  button {
    border: none;
  }
}

html {
  scroll-behavior: smooth;
  height: 100%; //*footer 바닥에 고정
}

body {
  height: 100%; //*footer 바닥에 고정
  margin: 0; //*footer 바닥에 고정
  background-color: #efeeee;
  font-family: "Jua", sans-serif;
}

.wrapper {
  //*footer 바닥에 고정
  min-height: 100%;
  position: relative;
  padding-bottom: 80px; /* footer height */
}

main {
  //width: 100%;
  padding-top: 200px;
  //margin-bottom: 80px; //*footer 바닥에 고정, footer height
}

@media (max-width: 40rem) {
  html {
    font-size: 17px;
  }

  main {
    //width: 100%;
    padding-top: 130px;
    //margin-bottom: 80px; //*footer 바닥에 고정, footer height
  }

  .student__table {
    font-size: 20px;
    margin: 0 0.5rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    //border: 1px solid $main;
    border-radius: 0.7rem;

    border-collapse: separate;
    border-spacing: 0.5rem 1.5rem;

    background-color: white;
    box-shadow: 6px 7px 34px -15px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 6px 7px 34px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 34px -15px rgba(0, 0, 0, 0.75);

    th {
      width: 3.5rem;
    }
  }
}
