.title {
  font-size: 30px;
  background-color: $main;

  padding: 1.5rem;
  margin: 1.5rem 0.5rem;
  border-radius: 0.7rem;
  margin-bottom: 2rem;

  box-shadow: 6px 7px 34px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 7px 34px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 34px -9px rgba(0, 0, 0, 0.75);
}

.boardTable {
  font-size: $regular_size;
  margin: 0 0.5rem;
  margin-top: 2.3rem;
  margin-bottom: 2rem;

  display: flex;
  justify-content: center;
  border-collapse: separate;
  border-spacing: 1.5rem 2rem;

  background-color: white;
  border-radius: 0.7rem;
  box-shadow: 6px 7px 34px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 7px 34px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 34px -9px rgba(0, 0, 0, 0.75);

  th {
    font-size: 21px;
    text-align: center;
    font-weight: bold;
  }

  td {
    text-align: center;
    font-size: 22px;
    font-weight: lighter;
  }
}

button {
  background-color: $main;
  border-radius: 0.5rem;
  //   padding: 5px 12px;
  margin: 0 0.5rem;
  font-size: $medium_size;
  width: 30px;
  cursor: pointer;
}

@media (max-width: 40rem) {
  .title {
    font-size: 28px;
    background-color: $main;

    padding: 1rem;
    margin: 1.5rem 0.5rem;
    border-radius: 0.7rem;

    box-shadow: 6px 7px 34px -9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 6px 7px 34px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 34px -9px rgba(0, 0, 0, 0.75);
  }
  .boardTable {
    margin: 0 0.5rem;
    margin-top: 2.3rem;
    margin-bottom: 2rem;
    font-size: 15px;
    display: flex;
    justify-content: center;
    border-collapse: separate;
    border-spacing: 1rem 2rem;

    // th {
    //   //font-size: 18px;
    // }

    .studentBox {
      //background-color: rebeccapurple;
      // td {
      //   //font-size: 18px;
      // }
      .stampBlock {
        div {
          display: flex;
          flex-direction: column-reverse;
          span {
            margin: 0.5rem 0;
          }
        }
      }
    }

    button {
      background-color: $main;
    }
  }

  
}
