

table {
    font-size: $regular_size;

    th {
      text-align: center;
      //padding: 30px;
      font-weight: bold;
      //border: 1px solid salmon;
    }

    td {
      text-align: center;
      //padding: 20px;
      font-weight: lighter;
      //border: 1px solid blueviolet;
    }

    a {
      background-color: $main;
      border-radius: 0.3rem;
      margin: 0 0.5rem;
      width: 30px;
      padding: 0.5rem 0.8rem;
      font-size: $regular_size;
      color: black;
      cursor: pointer;
    }
  }