header {
  //header layout
  width: 100%; //!
  position: fixed; //!

  display: flex;
  justify-content: space-between;
  align-items: center;

  //header style
  padding: 20px 0px;
  background-color: white;
  z-index: 1;

  box-shadow: 2px 2px 18px -1px rgba(143,143,143,0.79);
-webkit-box-shadow: 2px 2px 18px -1px rgba(143,143,143,0.79);
-moz-box-shadow: 2px 2px 18px -1px rgba(143,143,143,0.79);

  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  .header__logo {
    color: $main;
    font-family: "Sigmar", cursive;
    font-size: $large_size;
    text-decoration: none;
    margin-left: 30px;
  }
  .header__greeting {
    font-size: 20px;
    font-family: "Do Hyeon", sans-serif;
  }

  .navbar {
    margin-right: 30px;
    display: inline-block;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 30px;
      font-size: 20px;
      font-weight: 300;

      a {
        color: black;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}


@media (max-width: 40rem) {

  header {
    padding: 10px 0px;
    display: block;
    div{
      margin: 1rem 0;
    }
    .header__logo {
      font-size: 28px;
      margin-left: 0.5rem;
  
      h1 {
        margin-left: 1rem;
      }
    }
    .navbar {
      margin: 0 0.5rem;
      padding: 0 0.5rem;
      margin-top: 1rem;
      width: 100%;
     
      ul {
        display: flex;
        text-align: center;
        justify-content: space-around;
        li {
          font-size: 1.2rem;
          margin: 0;
          a {
            padding: 0.5rem;
            width: 30px;
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}
