header {
  //header layout
  width: 100%; //!
  position: fixed; //!

  //header style
  padding: 20px 0px;
  background-color: white;
  z-index: 1;

  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  .header__logo {
    color: $main;
    font-family: "Sigmar", cursive;
    font-size: $large_size;
    text-decoration: none;
    margin-left: 30px;
  }
  .header__greeting {
    font-size: 20px;
    font-family: "Do Hyeon", sans-serif;
  }

  nav {
    margin-right: 30px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 30px;
      font-size: $regular_size;
      font-weight: 300;

      a {
        color: black;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 40rem) {
  header {
    padding: 10px 0px;
    .header__logo {
      font-size: 32px;
      h1{
        margin-left: 1rem;
      }
     
    }
    nav{
      margin: 0 0.5rem;
      padding: 0 0.5rem;
      margin-top: 1rem;
    ul {
      display: flex;
      text-align: center;
      li {
        font-size: 1.2rem;
        margin: 0;
        a{
          padding: 0.5rem;
          width: 30px;
          span{display:none;}
        }
      }
    }
  }
  }
}
