extends base
include mixins/stamp-block

block content
    if loggedUser.students === []
        h1 home 교사 초기 화면  
        span 
            a(href="/setting")  칭찬 도장 및 학생 추가하기
        hr
    table 
        tr
            th 번호
            th 이름
            each stamp in stamps
                th=stamp.title
            else 
                li 도장이 없습니다. 도장을 추가하세요.
            th 이번달
            th 총누적
        tr 
            each student in students
                tr 
                    td=student.index 
                    td(data-stu_id=student._id)=student.name 
                    each stamp in student.currStamps
                        if(stamp.month===5)
                            each info in stamp.stamps
                                td
                                    +stamp-block(info)                       
            else 
                li 학생이 없습니다. 학생을 추가하세요.

block scripts
    script(src="/static/js/board.js")