extends base
include mixins/stamp
include mixins/student

block content 
    if errorMessage
        span=errorMessage
    h1.title 도장 관리
    div 
        h2.setting__explain ❗️ 도장은 5개까지 추가할 수 있습니다. 
    div.stamp-list 
        h2.stamp-list__title 도장 종류 목록
        each stampData in stamps
            +stamp(stampData)
        else 
            h3.no-data__message ⚠️ 도장이 없습니다. 칭찬 도장을 추가하세요.  
        form(action="/setting/stamp/add", method="post")
            input(type="text", name="title" placeholder="도장이름을 입력하세요. (ex. 밥, 독서 .. )" required) 
            input(type="submit", value="칭찬 도장 추가")    
    div 
        h1.title.title2 학생 관리
        div 
        h2.setting__explain ❗️ 학생을 추가/삭제할 수 있습니다. 
        h2.setting__explain ❗️ 학생이름이 학생의 아이디가 됩니다.
        form(action="/student/add" method="post").setting__form
            input(type="number" name="index" id="index" placeholder="번호 (숫자를 입력하세요.)" required)
            input(type="text" name="name" id="name" placeholder="학생이름(학생 아이디)을 입력하세요." required)
            input(type="submit", value="학생 추가")
        h2.setting__explain ❗️ 학생의 비밀번호를 초기화 할 수 있습니다. 
        h2.setting__explain ❗️ 초기화된 비밀번호는 숫자4자리 "0000" 입니다. 
        table.setting__table 
            tr 
                th 번호
                th 이름
                th 비밀번호 초기화
                th 학생 삭제
            each student in students
                tr
                    +student(student)
            else 
                h3.no-data__message ⚠️ 학생 데이터가 없습니다. 학생을 추가하세요.

block scripts
    script(src="/static/js/setting.js")