nav 
    ul 
        li 
            a(href="http://") 1월
        li 
            a(href="http://") 2월
        li 
            a(href="http://") 3월
        li 
            a(href="http://") 4월
        li 
            a(href="http://") 5월
        li 
            a(href="http://") 6월
        li 
            a(href="http://") 7월
        li 
            a(href="http://") 8월
        li 
            a(href="http://") 9월
        li 
            a(href="http://") 10월
        li 
            a(href="http://") 11월
        li 
            a(href="http://") 12월
        li 
            a(href="http://") 총 누적
