div.month-nav
    a(href="/stamp/ranking/1").unabled-btn 1월
    a(href="/stamp/ranking/2").unabled-btn 2월
    a(href="/stamp/ranking/3").unabled-btn 3월
    a(href="/stamp/ranking/4").unabled-btn 4월
    a(href="/stamp/ranking/5") 5월
    a(href="/stamp/ranking/6") 6월
    a(href="/stamp/ranking/7").unabled-btn 7월
    a(href="/stamp/ranking/8").unabled-btn 8월
    a(href="/stamp/ranking/9").unabled-btn 9월
    a(href="/stamp/ranking/10").unabled-btn 10월
    a(href="/stamp/ranking/11").unabled-btn 11월
    a(href="/stamp/ranking/12").unabled-btn 12월
