div.month-nav
    a(href="/stamp/ranking/1") 1월
    a(href="/stamp/ranking/2") 2월
    a(href="/stamp/ranking/3") 3월
    a(href="/stamp/ranking/4") 4월
    a(href="/stamp/ranking/5") 5월
    a(href="/stamp/ranking/6") 6월
    a(href="/stamp/ranking/7") 7월
    a(href="/stamp/ranking/8") 8월
    a(href="/stamp/ranking/9") 9월
    a(href="/stamp/ranking/10") 10월
    a(href="/stamp/ranking/11") 11월
    a(href="/stamp/ranking/12") 12월
