div.month-nav
    a(href="/stats").unabled-btn 1월
    a(href="/stats").unabled-btn 2월
    a(href="/stats").unabled-btn 3월
    a(href="/stats").unabled-btn 4월
    a(href="/stats") 5월
    a(href="/stats") 6월
    a(href="/stats").unabled-btn 7월
    a(href="/stats").unabled-btn 8월
    a(href="/stats").unabled-btn 9월
    a(href="/stats").unabled-btn 10월
    a(href="/stats").unabled-btn 11월
    a(href="/stats").unabled-btn 12월
